# compiled files
src/*.o
src/*.gch
tests/*.o
examples/*.o

# exectutables
tests/*_test
examples/*_example

# coverage files
src/*.gcda
src/*.gcno
src/*.gcov
tests/*.gcda
tests/*.gcno
tests/*.gcov
examples/*.gcda
examples/*.gcno
examples/*.gcov
